{% comment %}
  Unified invited talks entry renderer using the "Publications Method" (Margin-Left)
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        
        {% assign raw_start = entry.start_date | default: entry.startDate %}
        {% assign raw_end = entry.end_date | default: entry.endDate %}

        {% if raw_start %}
          {% assign start_pieces = raw_start | strip | split: '-' %}
          {% assign startDate = start_pieces[1] | append: '/' | append: start_pieces[0] %}

          {% if raw_end %}
            {% assign end_pieces = raw_end | strip | split: '-' %}
            {% assign endDate = end_pieces[1] | append: '/' | append: end_pieces[0] %}
          {% else %}
            {% assign endDate = 'Present' %}
          {% endif %}
          {% assign date = startDate | append: ' - ' | append: endDate %}
        {% else %}
          {% assign date = null %}
        {% endif %}

        <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  {% if date %}
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">{{ date }}</span>
                  {% endif %}
                </td>
              </tr>
              {% capture location %}
                {% if entry.location %}{{ entry.location }}{% endif %}
              {% endcapture %}
              {% if location != '' %}
                <tr>
                  <td>
                    <p class="location">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                      {{ location }}
                    </p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        
        <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
          
          {% comment %} Title with Margin-Left {% endcomment %}
          {% if entry.url %}
            <h6 class="title font-weight-bold ml-1 ml-md-4">
              <a href="{{ entry.url }}" target="_blank">{{ entry.name }}</a>
            </h6>
          {% else %}
            <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.name }}</h6>
          {% endif %}
          
          {% comment %} Authors with Margin-Left {% endcomment %}
          {%- if entry.authors -%}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.85rem;">
              {{ entry.authors | array_to_sentence_string }}
            </h6>
          {%- endif -%}
          
          {% comment %} Summary with Margin-Left {% endcomment %}
          {% if entry.summary %}
            <p class="ml-1 ml-md-4" style="font-size: 0.85rem;">
              {{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}
            </p>
          {% endif %}

          {% comment %} Highlights with Margin-Left {% endcomment %}
          {% if entry.highlights %}
            <ul class="items ml-1 ml-md-4">
              {% for item in entry.highlights %}
                <li>
                  <span class="item" style="font-size: 0.85rem;">
                    {{ item | markdownify | remove: '<p>' | remove: '</p>' }}
                  </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
