{% comment %}
  Unified preprint entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% capture pub_date %}
          {% if entry.releaseDate %}{{ entry.releaseDate }}{% elsif entry.date %}{{ entry.date }}{% endif %}
        {% endcapture %}

        {% if pub_date != '' %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{- pub_date | split: '-' | slice: 0, 1 | join: '' -}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% comment %} 1. Print the Title as plain text {% endcomment %}
            {% if entry.title or entry.name %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                {{ entry.title | default: entry.name }}
              </h6>
            {% endif %}

            {% comment %} 2. Print the Link on the next row {% endcomment %}
            {% if entry.url %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.90rem;">
                <a href="{{ entry.url }}">{{ entry.url }}</a>
              </h6>
            {% endif %}
            
            {% if entry.authors or entry.publisher %}
              <h6 class="ml-1 ml-md-4 mb-2" style="font-size: 0.85rem; line-height: 1.4">
                  {% comment %} Print authors if they exist {% endcomment %}
                  {%- if entry.authors -%}
                    {{ entry.authors | array_to_sentence_string }}
                  {%- endif -%}
                  
                  {% comment %} Add the comma ONLY if both authors AND publisher exist {% endcomment %}
                  {%- if entry.authors and entry.publisher -%}, {%- endif -%}
                  
                  {% comment %} Print publisher if it exists {% endcomment %}
                  {% if entry.publisher %}
                    {{ entry.publisher }}
                  {% endif %}
              </h6>
            {% endif %}
          </div>
          
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            {% comment %} 1. Print the Title as plain text {% endcomment %}
            {% if entry.title or entry.name %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                {{ entry.title | default: entry.name }}
              </h6>
            {% endif %}

            {% comment %} 2. Print the Link on the next row {% endcomment %}
            {% if entry.url %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.90rem;">
                <a href="{{ entry.url }}">{{ entry.url }}</a>
              </h6>
            {% endif %}

            {% if entry.publisher %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
                <em>{{ entry.publisher }}</em>
              </h6>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
